* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .container_container {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;

        background-color: #1B212C;

        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        .container {
            width: 100vw;
            height: 100vh;

            scroll-snap-align: start;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
        }

        .container1 {

            background-size: cover;

        }

        .p0 {
            background-image: url(../Pictures_ps/p0.jpg);
        }

        .p1 {
            background-image: url(../Pictures_ps/p1.jpg);
        }

        .p2 {
            background-image: url(../Pictures_ps/p2.jpg);
        }

        .p3 {
            background-image: url(../Pictures_ps/p3.jpg);
        }

        .p4 {
            background-image: url(../Pictures_ps/p4.jpg);
        }

        .p5 {
            background-image: url(../Pictures_ps/p5.jpg);
        }

        .p6 {
            background-image: url(../Pictures_ps/p6.jpg);
        }

        .p7 {
            background-image: url(../Pictures_ps/p7.jpg);
        }

        .p8 {
            background-image: url(../Pictures_ps/p8.jpg);
        }

        .p9 {
            background-image: url(../Pictures_ps/p9.jpg);
        }

        .p10 {
            background-image: url(../Pictures_ps/p10.jpg);
        }

        .p11 {
            background-image: url(../Pictures_ps/p11.jpg);
        }

        .p12 {
            background-image: url(../Pictures_ps/p12.jpg);
        }

        .p13 {
            background-image: url(../Pictures_ps/p13.jpg);
        }

        .p14 {
            background-image: url(../Pictures_ps/p14.jpg);
        }

        .p15 {
            background-image: url(../Pictures_ps/p15.jpg);
        }

        .p16 {
            background-image: url(../Pictures_ps/p16.jpg);
        }
    }
}